.layout {
  background-image: linear-gradient(to bottom right, #fbdb89, #f48982);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  .container {
    padding: 2rem;
    min-height: 50rem;
    width: 50rem;
    background-color: #fff;
    border-radius: 9px;
    box-shadow: 0 2rem 6rem 0.5rem #61555133;
  }
}
